* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
div img {
  width: 100%;
}
body {
  background: #daf7fe;
}
.game-canva {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  background: url("img/fons.png") no-repeat;
  background-size: 101%;
  overflow: hidden;
  border: 2px solid;
  background-position: bottom;
}
.messageclose {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 47px;
  line-height: 50px;
  text-align: center;
  background: #ea0202;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
  border-radius: 0px 0px 20px 20px;
}
.messages {
  position: relative;
  width: 30%;
  min-width: 450px;
  z-index: 2;
  text-align: center;
  box-shadow: 0 4px 17px 1px rgba(0, 0, 0, .17);
  background: white;
  padding: 15px 30px 70px;
  z-index: 100;
  border-radius: 21px;
}
.message-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  display: -ms-flexbox;
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.egg-try-later {
  display: none;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.try-agen-later .egg-try-later {
  display: flex;
}
.try-agen-later div.egg {
  display: none;
}
.egg-try-later div {
  margin-right: 100px;
  width: 100px;
  height: 40px;
  position: relative;
}
.egg-try-later img {
  position: absolute;
  transform: rotate(30deg);
}
.egg-try-later img:nth-child(1) {
  transform: rotate(30deg);
  right: 0;
}
.egg-try-later img:nth-child(2) {
  transform: rotate(130deg);
  left: 0;
}
.egg-try-later img:nth-child(3) {
  transform: rotate(90deg);
  right: 30px;
}
.egg-try-later img:nth-child(4) {
  transform: rotate(240deg);
  left: -93px;
}
.show {
  display: flex;
}
.bunny img {
  width: 320px;
  position: absolute;
}
.board {
  position: relative;
  background: url("img/delis.png") no-repeat;
  height: 115px;
  display: flex;
}
.info {
  z-index: 1;
  max-width: 400px;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-top: 25px;
  margin-right: 10vw;
}
div.egg {
  -webkit-animation-duration: 3s;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  margin: -31px 2px;
  align-self: flex-start;
  position: absolute;
}
}
div.egg img {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  margin: 30px 10vw 20px;
  max-width: 400px;
  margin-left: auto;

}
.button button{
  padding: 10px 30px;
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  background: #ea0202;
  border: 3px solid #c20202;
  border-radius: 31px;
  cursor: pointer;
}
.roll-egg:hover {
 background: #de0404;
}
.roll-1m {
  -webkit-animation-name: roll-1m;  /* Safari 4.0 - 8.0 */
  animation-name: roll-1m;
  animation-duration: 3s;
}
.roll-2m {
  -webkit-animation-name: roll-2m;  /* Safari 4.0 - 8.0 */
  animation-name: roll-2m;
  animation-duration: 3s;
}
.roll-3m {
  -webkit-animation-name: roll-3m;  /* Safari 4.0 - 8.0 */
  animation-name: roll-3m;
  animation-duration: 3s;
}
.roll-4m {
  -webkit-animation-name: roll-4m;  /* Safari 4.0 - 8.0 */
  animation-name: roll-4m;
  animation-duration: 1.6s;
}
/* @media (min-width: 600px) { */
  .bunny {
    height: 0px;
  }
  .bunny img {
    width: 210px;
    bottom: -13px;
    left: -60px;
  }
  .egg {
      width: 30px;
      height: 41px;
  }
  div.egg {
      top: 32px;
      left: 15px;
  }
  .egg-try-later div {
    margin-right: 100px;
    width: 100px;
    height: 40px;
    position: relative;
  }
  .board {
    height: 83px;
    background-position: -52px 15px;
    background-size: 330px;
    margin: 62px 0 10px 100px;
  }
  .info {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  @keyframes roll-1m {
    100%  { top: 70px; left: 300px; transform: rotate(800deg);}
  }
  @keyframes roll-2m {
    100%  { top: 75px; left: 360px; transform: rotate(900deg);}
  }
  @keyframes roll-3m {
    100%  { top: 80px; left: 450px; transform: rotate(1690deg);}
  }
/* } */
@media (min-width: 800px) {
  .messages {
    min-width: 500px;
  }
  .bunny {
    height: 100px;
  }
  .bunny img {
    width: 320px;
    bottom: -13px;
    left: -60px;
  }
  div.egg {
      top: 24px;
      left: 36px;
  }
  .egg {
      width: 40px;
      height: 54px;
  }
  .board {
    height: 100px;
    background-position: -56px 16px;
    background-size: 400px;
    margin: 60px 0 10px 200px;
  }
  .egg-try-later div {
    margin-right: 100px;
    width: 200px;
    height: 50px;
  }
  .info {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  @keyframes roll-1m {
    100%  { top: 80px; left: 360px; transform: rotate(800deg);}
  }
  @keyframes roll-2m {
    100%  { top: 75px; left: 450px; transform: rotate(900deg);}
  }
  @keyframes roll-3m {
    100%  { top: 80px; left: 540px; transform: rotate(1690deg);}
  }
}
@media (min-width: 1100px) {
  .egg-try-later div {
    margin-right: 100px;
    width: 200px;
    height: 70px;
  }
  .messages {
    min-width: 700px;
  }
  .bunny {
    height: 130px;
  }
  .board {
    background-size: 500px;
    margin: 60px 0 10px 300px;
  }
  .bunny img {
    width: 370px;
    bottom: 2px;
    left: 5px;
  }
  .egg {
      width: 50px;
      height: 68px;
  }
  .board {
    height: 155px;
    background-size: 550px;
  }
  .info {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .board {
    background-position: -76px 20px;
  }
  @keyframes roll-1m {
    100%  { top: 90px; left: 450px; transform: rotate(800deg);}
  }
  @keyframes roll-2m {
    100%  { top: 90px; left: 600px; transform: rotate(900deg);}
  }
  @keyframes roll-3m {
    100%  { top: 90px; left: 730px; transform: rotate(1690deg);}
  }
}
